.spinner {
 position: relative;
 width: 16px;
 height: 16px;
 margin: auto;
 margin-block-start: 150px;
}

.spinner div {
 width: 100%;
 height: 100%;
 background-color: #b9b9b9;
 border-radius: 50%;
 animation: spinner-4t3wzl 1.25s infinite backwards;
}

.spinner div:nth-child(1) {
 animation-delay: 0.15s;
 background-color:#a3a3a3;
}

.spinner div:nth-child(2) {
 animation-delay: 0.3s;
 background-color:#8e8e8e;
}

.spinner div:nth-child(3) {
 animation-delay: 0.45s;
 background-color:#7d7d7d;
}

.spinner div:nth-child(4) {
 animation-delay: 0.6s;
 background-color:#6b6b6b;
}

.spinner div:nth-child(5) {
 animation-delay: 0.75s;
 background-color:#414141;
}

@keyframes spinner-4t3wzl {
 0% {
  transform: rotate(0deg) translateY(-200%);
 }

 60%, 100% {
  transform: rotate(360deg) translateY(-200%);
 }
}