.card1 {
 width: 20%!important;
 min-height:400px;
 border-radius: 10px;
 background: #e0e0e0;
 box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
}
@media screen and (max-width:425px){
.card1{
  width: 50%!important;
}
}